<p-menubar [model]="items">
    <div>
      <div *ngIf="!connected">
        <button
          pButton
          routerLink="/authentification"
          label="Connexion"
          icon="pi pi-power-off"
        ></button>
      </div>
      <div *ngIf="connected" class="navbar-connected">
        <p>{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
        <button
          pButton
          routerLink="/"
          label="Deconnexion"
          icon="pi pi-power-off"
        ></button>
      </div>
    </div>
  </p-menubar>