<p-menubar [model]="items">
  <div>
    <div *ngIf="!currentUser; else connected">
      <button
        pButton
        routerLink="/authentification"
        label="Connexion"
        icon="pi pi-power-off"
      ></button>
    </div>
    <ng-template #connected class="navbar-connected">
      <div>
        <p>{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
        <button
          pButton
          (click)="logout()"
          label="Deconnexion"
          icon="pi pi-power-off"
        ></button>
      </div>
    </ng-template>
  </div>
</p-menubar>
