<div class="login__container">
    <div class="connexion">
        <h1 class="connexion__title">Connexion</h1>
        <ul>
            <li *ngFor="let user of users$ | async">
                {{ user.email }}
                {{ user.password }}
            </li>
        </ul>
        <p class="connexion__subtitle">Saisissez votre e-mail pour vous connecter</p>
    </div>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
        <div class="input_field">
            <div [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }" class="input-container">
                <input type="email" class="input-material_field" name="email" id="email" formControlName="email" placeholder>
                <label for="" class="input-material_label">E-mail</label>
                <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                    <p *ngIf="formControls.email.errors.required"><font color="red">L'email est requis</font></p>
                    <p *ngIf="formControls.email.errors.email"><font color="red">Adresse mail incorrecte</font></p>
                </div>
            </div>

            <div [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }" class="input-container">
                <input type="password" class="input-material_field" name="password" id="password" formControlName="password"> 
                <label for="" class="input-material_label">Mot de passe</label>
                <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                    <p *ngIf="formControls.password.errors.required"><font color="red">Mot de passe requis</font></p>
                    <p *ngIf="formControls.password.errors.minlength"><font color="red">Le mot de passe doit contenir au moins 6 caractères</font></p>
                    <p *ngIf="formControls.password.errors.maxlength"><font color="red">Le mot de passe doit contenir maximum 20 caractères</font></p>
                </div>
            </div>
        </div>
        <input type="submit" class="submit-button" value="Connexion">
    </form>
</div>
